fastapi>=0.139.2
pydantic>=2.13.4
dotenv>=0.9.9
uvicorn>=0.51.0
email-validator>=2.3.0
pytest>=9.1.1
pydantic_settings>=2.14.2
python-json-logger>=4.1.0
httpx2>=2.7.0
sqlalchemy>=2.0.51
bcrypt>=5.0.0


